/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

*{
  margin:0;
  padding:0;
}

*, :after, :before {
  box-sizing: border-box;
}

html, body, .bootstrap-wrapper{
  height: 100%;
}

body{
  background: #e0e0e0 url("/assets/img/bg.jpg");
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #3C78A2;
}

.bootstrap-wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

nav a {
  color: white;
}



.container {
  flex: 1 0 auto;
  padding: 0 15px;
  margin: 0 auto;
}


/* Header */

header{
  border-bottom: 1px solid #3C78A2;
  padding: 10px 0;
}

header,
footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.logo-actions div{
  margin-left: auto;
}

.logo-actions, .logo-titles {
  height:100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1em;
}

.logo-title {
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  word-spacing: .08em;
}

.logo-title a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.logo-title a:active, .logo-title a:focus, .logo-title a:hover {
  text-decoration: none;
}

.logo-subtitle {
  font-size: 1em;
  font-weight: 300;
  white-space: nowrap;
}

.logo-info{
  text-align: center;
}

/* Main */

main{
  padding: 0 50px;
}

article{
  padding: 20px 0;
  border-bottom: 1px solid #3C78A2;
}

article h2{
  display: inline-block;
  margin-right: 30px;
}

article .duration, article .date{
  font-weight: bold;
}

article .date{
  float: right;
}

article .author{
  margin: 10px 0;
}

article .author span{
  font-style: italic;

}

article p{
  text-align: justify;
}

/* Footer */

footer {
  padding: 1.5rem;
  background: #f68400;
  border-top: 1px solid #EA7B00;
  color: #fff;
  font-size: .85em;
  text-align: center
}

/* Forms */

.form-container{
  max-width: 500px;
  margin: 50px auto;
}

.form-group{
  margin: 20px 0;
}

.form-group label {
  display: inline-block;
  max-width: 100%;
  width: 20%;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-top: 7px;
  text-align: right;
  font-weight: bold;
}

.form-group input, .form-group button {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-group span{
  color: red;
}

form input[type=submit], form button[type=submit]{
  width: 100%;
  border: none;
  padding: 8px 15px 8px 15px;
  background: #FF8500;
  color: #fff;
  -moz-box-shadow: 1px 1px 4px #DADADA;
  -webkit-box-shadow: 1px 1px 4px #DADADA;
  box-shadow: 1px 1px 4px #DADADA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

form input.small-button{
  width: 50px;
  margin-bottom: 10px;
}

form input[type=submit]:hover, form button[type=submit]:hover{
  background: #EA7B00;
  color: #fff;
}

form input[type=text]:focus,
form input[type=password]:focus{
  border-color: #c3d9f2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #c3d9f2;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #c3d9f2;
}

form input[type=text]:invalid,
form input[type=password]:invalid,
form input[type=date]:invalid,
form input[type=time]:invalid,
form input[type=number]:invalid,
form textarea:invalid,
form .ng-invalid:not(form){
  border-color: red;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
  border-left: 5px solid red /* red */
}

form input[type=text]:valid,
form input[type=password]:valid,
form .ng-valid[required],
form .ng-valid.required{
  border-color: #4F8A10;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #4F8A10;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #4F8A10;
  border-left: 5px solid #4F8A10; /* green */
}

form input[disabled], 
form button[disabled] {
  background: #ccc;
}
.form-edit input, .form-edit textarea{
  width: 200px;
}

.form-edit .duration{
  width: 70px;
}

select{
  width:150px;
  height: 150px;
}

/* Errors */
.error input[type=text]:focus,
.error input[type=password]:focus{
  border-color: red;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
}

.message-info, .message-success, .message-warning, .message-error {
  margin: 10px 0;
  padding:12px;
}

.message-info {
  color: #00529B;
  background-color: #BDE5F8;
}

.message-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.message-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.message-error {
  color: #D8000C;
  background-color: #FFD2D2;
}

.modal-container {
  position: relative;
  display: inline-block;
  padding-top: 0;
  width: 250px;
}

.modal-content {
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
  background-color: #fff;
  max-width: 400px;
  width: 100%;

  position: absolute;
  left: calc(50% - 200px);
  top: calc(100% - 150px);
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

.modal-close {
  color: #666;
  position: absolute;
  right: 2px;
  top: 0;
  padding-top: 7px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-content h4{
  font-weight: normal;
  font-size: 1.2em;
}

.modal-message {
  margin: 10px 0;
  padding: 10px 0;
  font-size: .8rem;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
}
.modal-close:hover { color: #333; }

.modal-container:hover .modal-content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0,-20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
