<div class="bootstrap-wrapper">
        <div class="container">
            <header role="banner">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="assets/img/logo.png" alt="logo" class="logo">
                    </div>
                    <div class="col-sm-8">
                    <div class="logo-titles">
                        <div class="logo-title">
                            <a href="" title="Learn Easy - home page">Learn Easy</a>
                            <span class="logo-subtitle">Courses</span>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="logo-actions">
                            <div class="logo-info"></div>
                        </div>
                    </div>
                </div>
            </header>
            <main>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="courses">Courses</a></li>
      <li><a routerLink="courses/new">Add course</a></li>
      <li><a routerLink="courses/12">Edit course</a></li>
    </ul>
    <router-outlet></router-outlet>
    </main>
    </div>
    <footer>
        <div class="copyright col-sm-12">Copyright &copy; 2017</div>
    </footer>
    </div>